// Viewports
$xs: 699px;
// @media (mmax-width: $xs)

$s: 700px;
// @media (min-width: $s)

$m: 1020px;
// @media (min-width: $m)

$l: 1340px;
// @media (min-width: $l)

$retina: 2dppx;
// @media (min-resolution: $retina)

$mobile-side-offset: 20px;
$container-max-width: 940px + 2 * $mobile-side-offset;
